.record {
  width: 300px;
}

.record-spinning{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: grey;
  border: 1px solid #555;
  font-family: Lobster;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.img-circle {
  border-radius: 50%;
}

.mySlides {
  border-radius: 45%;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
  display: inline-block;
  font-family: Lobster;
}

section {
  margin-bottom: 25px;
}

.mySlides {
  display:none;
}

.section {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  border-color: #e6e6e6;
  font-family: Lobster;
}

.section-title {
  background-color: #d9d9d9;
  padding-left: 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #e6e6e6;
  font-family: Lobster;
}

.section-body {
  padding: 10px;
  font-family: Lobster;
}
