.modal {
	z-index: 100;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
}

.modal-content {
	background-color: white;
}

.headline:hover {
	outline: 10px dotted red;
}

.headline {
	font-size: 600px;
}

/*images */


.img-circle {
  border-radius: 50%;
  border: 5px solid white;
}

.img-circle:hover {
	-moz-box-shadow: 0px 0px 10000px #ccac00; 
	-webkit-box-shadow: 0px 0px 10000px #ccac00; 
	box-shadow: 0px 0px 10000px #ccac00;
}


.record {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  }

.record-spinning{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4500ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4500ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4500ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin{
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.mySlides {
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 45%;
}

.mySlides1 {
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 45%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*headline modal*/

/*links*/ 
a:hover { 
    color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

/*background image*/
body {
  background: url("https://lh3.googleusercontent.com/UKd0ed7eZCd5POQIBmxd4vnBPPRONZfZ-LD0hzAuqqV2lrlVeUCFqXiBKmnmVvj2rybfvdD8TwnhdZOss2xMEgtsX7V1QeCiV3FFzuWSuYJ9hWuS3aHqPnLckyzmKrXyTClP0uKU4x4IBf7EAng-00FadfVKxH_tRQg9rw-T8djPL40eC8_oaM6gWlZC-NTYWpW6_qCsMycw-C7xo-4kJkQFA7ZLowlnxcXXSVALSyC33w9kaFlaY7ZkVE9sivxIXlRbQc1w_Oi64vyPqXuyTIIJPc8GHwtYZJQAG_U0WcR2NusWcNjsn_PtvkmpvT1A2jQv0YoZTAFvQa2rN1CE1txcSkFS6amV1x7Ko1aGQtnvSPKwU0hN_tEGrSmJC18j8hkzSIM605GQKxGcc1DxgP_wczRQt3ohGeOkyfN4a_mrcS8D37f40a92y3e2Z7bxwg8M1mKyhkq4mRkCWI0KZLrvKytxrSu0L3MAZ763JZQYXDnJt2FdFIHED0O5A_ibMnNpuRXqBwiCoFtOfy-9MQmSsu5DCe9khVEmstILN2ZbU0CcODyXMixaDKb93yE9otm7WPr-3ocTRRYO5b_4eQXrIg3Nwy8=w1580-h1052-no"); 
  background-opacity: 5.0;
  background-position: center 300px;
  font-family: Damion;
  font-size: 35px;
  color: #00ff00;
  background-size: contain;
  float: center;
/*  height: 15em;
  width: 15em;*/
  background-blend-mode: color-dodge;
  opacity: 2.2;

}

/*content*/ 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Damion;
  color: #00ff00;
  display: inline;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
  font-family: Damion;
  font-size: 30px;
}

section {
  margin-bottom: 25px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
}


h1 {
  font-family: Damion;
  font-size: 100px;
}


.center {
  margin: auto;
  position: center;
  text-align: center;

}

.section {
  font-family: Damion;
  font-size: 25px;
}

.section-title {
  font-family: Damion;
  font-size: 25px;
}

.section-body {
  padding: 10px;
  font-family: Damion;
  font-size: 25px;
}

.section:hover{
	background-image: url('http://www.hpcf.upr.edu/~abel/phl/star_field_visible_eqt.jpg');
}

.closing {
  color: yellow;	
  transition: all 3s;
  transition-timing: ease-in-out;
  width: 100px;
}

.closing:hover{
	/*background-color: white;*/
	transform: rotate(1080deg);
}

/*blur sun on modal*/

@-webkit-keyframes demonstration {
  0% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  25% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  30% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
  }
  55% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
  100% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
}
@keyframes demonstration {
  0% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  25% {
    -webkit-filter: blur(0) contrast(1);
            filter: blur(0) contrast(1);
  }
  30% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
  }
  55% {
    -webkit-filter: blur(20px) contrast(1);
            filter: blur(20px) contrast(1);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  80% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
  100% {
    -webkit-filter: blur(20px) contrast(30);
            filter: blur(20px) contrast(30);
  }
}
.blobs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: transparent;
  width: 400px;
  height: 200px;
  margin: auto;
  -webkit-filter: blur(20px) contrast(30);
          filter: blur(20px) contrast(30);
  -webkit-animation: demonstration 10s linear infinite;
          animation: demonstration 10s linear infinite;
}

.blob {

  background: #F28C38;
  background-color: .5;
  z-index: 2;
  width: 200px;
  height: 200px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -50px;
  margin-left: -50px;
  border-radius: 100%;
  opacity: .5;
}

@-webkit-keyframes blob-anim-left {
  0% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}

@keyframes blob-anim-left {
  0% {
    -webkit-transform: translateX(-40px);
            transform: translateX(-40px);
  }
  100% {
    -webkit-transform: translateX(-55px);
            transform: translateX(-55px);
  }
}
.blob:first-child {
  -webkit-animation: blob-anim-left ease-in-out 0.8s infinite alternate;
          animation: blob-anim-left ease-in-out 0.8s infinite alternate;
}

@-webkit-keyframes blob-anim-right {
  0% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(55px);
            transform: translateX(55px);
  }
}

@keyframes blob-anim-right {
  0% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(55px);
            transform: translateX(55px);
  }
}
.blob:last-child {
  -webkit-animation: blob-anim-right ease-in-out 0.8s infinite alternate;
          animation: blob-anim-right ease-in-out 0.8s infinite alternate;
}



/*.wrap {width:200px; margin:auto;  z-index:1;}


.sticker {
  width:100px;
  height:100px;
  border-radius: 50%;
  position:center;
  background: url(http://bagtoons.com/images/moon-no-bg.png)  no-repeat; 
  animation: spin 10s linear infinite;
  /*Set our animation play state to paused initially */
  animation-play-state: paused; 
}

.sticker:hover {
  /* Toggle our animation play state to running when we are hovering over our sticker */
  animation-play-state: running;
}*/


@keyframes spin {
  100% {transform: rotate(1turn); }
}
