/*images */
.record {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
}

.img-circle {
  border-radius: 50%;
  border: 5px solid white;
}

.img-circle:hover {
	z-index: 2;
	transform: scale (5);
}

.record-spinning{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin{
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin{
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin{
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.mySlides {
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 45%;
}

.mySlides1 {
  width: 200px;
  height: 200px;
  display: none;
  border-radius: 45%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
}

/*links*/ 
a:hover { 
    color: white;
}

.active {
  background-color: #4CAF50;
  color: white;
}

/*background image*/
body {
  background: url("https://lh3.googleusercontent.com/UKd0ed7eZCd5POQIBmxd4vnBPPRONZfZ-LD0hzAuqqV2lrlVeUCFqXiBKmnmVvj2rybfvdD8TwnhdZOss2xMEgtsX7V1QeCiV3FFzuWSuYJ9hWuS3aHqPnLckyzmKrXyTClP0uKU4x4IBf7EAng-00FadfVKxH_tRQg9rw-T8djPL40eC8_oaM6gWlZC-NTYWpW6_qCsMycw-C7xo-4kJkQFA7ZLowlnxcXXSVALSyC33w9kaFlaY7ZkVE9sivxIXlRbQc1w_Oi64vyPqXuyTIIJPc8GHwtYZJQAG_U0WcR2NusWcNjsn_PtvkmpvT1A2jQv0YoZTAFvQa2rN1CE1txcSkFS6amV1x7Ko1aGQtnvSPKwU0hN_tEGrSmJC18j8hkzSIM605GQKxGcc1DxgP_wczRQt3ohGeOkyfN4a_mrcS8D37f40a92y3e2Z7bxwg8M1mKyhkq4mRkCWI0KZLrvKytxrSu0L3MAZ763JZQYXDnJt2FdFIHED0O5A_ibMnNpuRXqBwiCoFtOfy-9MQmSsu5DCe9khVEmstILN2ZbU0CcODyXMixaDKb93yE9otm7WPr-3ocTRRYO5b_4eQXrIg3Nwy8=w1580-h1052-no"); 
  background-opacity: .5;
  background-position: center 300px;
  font-family: Damion;
  font-size: 35px;
  color: #00ff00;
  background-size: contain;
  float: center;
  height: 15em;
  width: 15em;
  background-blend-mode: multiply;
}

/*content*/ 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: Damion;
  color: #00ff00;
  display: inline;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
  font-family: Damion;
  font-size: 30px;
}

section {
  margin-bottom: 25px;
  border-color: white;
  border-style: solid;
  border-width: 5px;
}


h1 {
  font-family: Damion;
  font-size: 60px;
}

.center {
  margin: auto;
  position: center;
  text-align: center;

}

.section {
  font-family: Damion;
  font-size: 25px;
}

.section-title {
  font-family: Damion;
  font-size: 25px;
}

.section-body {
  padding: 10px;
  font-family: Damion;
  font-size: 25px;
}
